---
import Layout from "../../layouts/Layout.astro";
import BoardingExperienceHero from "../../components/sections/campuslifepage/BoardingExperienceHero ";
import BoardingExperienceSection from "../../components/sections/campuslifepage/BoardingExperience";

---

<Layout
  title="Boarding School Experience | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Boarding at MCS Pathankot nurtures independence, discipline, and camaraderie, offering students a safe and enriching residential life."
  pubDate={new Date()}
  >
  <main>
    <BoardingExperienceHero />
    <BoardingExperienceSection />
  </main>
</Layout>
