---
import Layout from "../../layouts/Layout.astro";
import DayBoardingExperienceHero from "../../components/sections/campuslifepage/DayBoardingExperienceHero";
import DayBoardingExperienceSection from "../../components/sections/campuslifepage/DayBoardingExperience";

---

<Layout
  title="Day-Boarding Experience | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Day-boarding at MCS Pathankot balances academics, co-curriculars, and structured support within extended hours for overall student growth."
  pubDate={new Date()}
  >
  <main>
    <DayBoardingExperienceHero />
    <DayBoardingExperienceSection />
  </main>
</Layout>
