---
import Layout from "../../layouts/Layout.astro";
import EventsActivitiesHero from "../../components/sections/campuslifepage/EventsActivitiesHero";
import EventsActivitiesSection from "../../components/sections/campuslifepage/EventsActivities";

import { client } from "../../lib/sanity";
import { eventsQuery } from "../../lib/queries/events";


const events = await client.fetch(eventsQuery);
---

<Layout
  title="Campus Life @MCS | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Explore the campus life at MCS Pathankot that is filled with fun, learning, and skill-building activities shaping student growth, teamwork, and leadership while nurturing independence, discipline, and camaraderie among students."
  pubDate={new Date()}
  >
  <main>
    <EventsActivitiesHero />
    <EventsActivitiesSection events={events} client:load/>
  </main>
</Layout>
