---
import Layout from "../../layouts/Layout.astro";
import OutreachProgramsHero from "../../components/sections/campuslifepage/OutreachProgramsHero";
import OutreachProgramsSection from '../../components/sections/campuslifepage/OutreachPrograms';

---

<Layout
  title="Outreach Programs | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="MCS Pathankot organizes outreach programs for students to develop empathy & a sense of responsibility towards society that are filled with fun, learning, and community-building activities."
  pubDate={new Date()}
  >
  <main>
    <OutreachProgramsHero />
    <OutreachProgramsSection />
  </main>
</Layout>
