---
import Layout from '../../layouts/Layout.astro';
import SuccessStoriesHero from '../../components/sections/achievementspage/SuccessStoriesHero';
import HighlightsStrip from '../../components/sections/achievementspage/HighlightsStrip';
import AwardsGrid from '../../components/sections/achievementspage/AwardsGrid';
import AchieversCarousel from '../../components/sections/achievementspage/AchieversCarousel';
import PhotoHighlights from '../../components/sections/achievementspage/PhotoHighlights';
import MilestoneJourney from '../../components/sections/achievementspage/MilestoneJourney';
import BeyondAcademics from '../../components/sections/achievementspage/BeyondAcademics';
import AwardsRecognition from '../../components/sections/achievementspage/AwardsRecognition';
import StudentAchievers from '../../components/sections/achievementspage/StudentAchievers';
import SpecialMentions from '../../components/sections/achievementspage/SpecialMentions';
import AlumniSpotlight from '../../components/sections/achievementspage/AlumniSpotlight';


import { sanity } from '../../lib/sanity';

const awards = await sanity.fetch(`
  *[_type == "award"] | order(year desc){
    _id,
    name,
    year,
    description,
    presentedBy,
    image
  }
`);

---

<Layout
  title="Krityam | Build Fast. Scale Smart. Launch Better."
  description="From MVP to full-scale apps, Krityam builds high-performance digital products for startups and enterprises. We help businesses build MVPs, scale apps, and deliver full-stack digital experiences with speed and precision."
  pubDate={new Date()}
  >
	<main class="w-full">
    <SuccessStoriesHero client:load/>
    <!-- <HighlightsStrip client:load/> -->
    <AwardsGrid awards={awards} client:load/>
    <AchieversCarousel client:load/>
    <PhotoHighlights client:load/>
    <AlumniSpotlight client:load/>
    <SpecialMentions client:load/>
    <!-- <BeyondAcademics client:load/> -->
    <!-- <AwardsRecognition client:load/> -->
    <!-- <StudentAchievers client:load/> -->
    <MilestoneJourney client:load/>

  </main>
    
</Layout>
