---
import Layout from '../../layouts/Layout.astro';
import SuccessStoriesHero from '../../components/sections/achievementspage/SuccessStoriesHero';
import AwardsGrid from '../../components/sections/achievementspage/AwardsGrid';
import AchieversCarousel from '../../components/sections/achievementspage/AchieversCarousel';
import PhotoHighlights from '../../components/sections/achievementspage/PhotoHighlights';
import MilestoneJourney from '../../components/sections/achievementspage/MilestoneJourney';
import SpecialMentions from '../../components/sections/achievementspage/SpecialMentions';
import AlumniSpotlight from '../../components/sections/achievementspage/AlumniSpotlight';


import { client } from '../../lib/sanity';
import { awardsQuery } from "../../lib/queries/awards";
import { achievementsQuery } from "../../lib/queries/achievements";
import { alumniQuery } from "../../lib/queries/alumni";
import { studentAchieversBannersQuery } from "../../lib/queries/banner";

const awards = await client.fetch(awardsQuery);
const achievements = await client.fetch(achievementsQuery);
const alumni = await client.fetch(alumniQuery);
const banner = await client.fetch(studentAchieversBannersQuery);


---

<Layout
  title="Achievements & Awards | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Discover the achievements and awards of MCS — our outstanding academic results, sports achievements, cultural awards, and national recognitions earned by our students."
  pubDate={new Date()}
  >
	<main class="w-full">
    <SuccessStoriesHero/>
    <AwardsGrid awards={awards} client:load/>
    <AchieversCarousel achievements={achievements} client:load/>
    <PhotoHighlights client:load/>
    <AlumniSpotlight alumni={alumni} client:load/>
    <SpecialMentions  banners={banner}/>
    <MilestoneJourney/>

  </main>
    
</Layout>
