@import "tailwindcss";

@theme {

    --font-playpen: 'Playpen Sans Variable', cursive;
    --font-inter: 'Inter Variable', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-raleway: 'Raleway Variable', sans-serif;
    --font-outfit: 'Outfit Variable', sans-serif;
    --font-lora: 'Lora Variable', serif;

    --color-primary: #3057E3;
    --color-primarydark: #193CB8;
    --color-primarylight: #e0ecff;
    --color-secondary: #E7022E;
    --color-secondarydark: #C50227;
    --color-secondarylight: #fef2f2;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Line clamp utilities */
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Add this to your global CSS file Reel */
.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }