---
import Layout from '../../layouts/Layout.astro';
import CurriculumNav from '../../components/sections/curriculumpage/CurriculumNav';
import AcademicCoursesHero from '../../components/sections/curriculumpage/AcademicCoursesHero';
import Courses from '../../components/sections/curriculumpage/Courses';

---

<Layout
  title="Academic Courses | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Discover academic courses across primary, middle, secondary, and senior secondary levels at MCS Pathankot, designed to prepare students for success."
  pubDate={new Date()}
  >
  
  <main>

    <AcademicCoursesHero client:load />
    
    <!-- Navigation Pills -->
    <!-- <CurriculumNav client:load /> -->
    
    <Courses client:load />
  </main>
  </Layout>
  
  <!-- <script>
    // Smooth scrolling for anchor links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId);
        
        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - 100,
            behavior: 'smooth'
          });
        }
      });
    });
  </script> -->
</body>
</html>
