---
import Layout from '../../layouts/Layout.astro';
import CurriculumNav from '../../components/sections/curriculumpage/CurriculumNav';
import BooklistHero from '../../components/sections/curriculumpage/BooklistHero';
import Booklist from '../../components/sections/curriculumpage/Booklist';

---

<Layout
  title="Booklist | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Access the latest booklist for every grade at MCS Pathankot. Ensure your child is equipped with the right resources for the academic year."
  pubDate={new Date()}
  >
  
  <main>

    <!-- <HeroSection client:load />
    <DanceSection client:load />
    <MusicSection client:load />
    <DramaSection client:load /> -->

    <!-- Hero Section -->
    <BooklistHero client:load />
    
    <!-- Navigation Pills -->
    <!-- <CurriculumNav client:load /> -->
    
    <Booklist client:load />

  </main>
  </Layout>
  
  <!-- <script>
    // Smooth scrolling for anchor links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId);
        
        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - 100,
            behavior: 'smooth'
          });
        }
      });
    });
  </script> -->
</body>
</html>
