---
import Layout from '../../layouts/Layout.astro';
import CurriculumNav from '../../components/sections/curriculumpage/CurriculumNav';
import CoCurricularsHero from '../../components/sections/curriculumpage/CoCurricularsHero';
import CoCurricular from '../../components/sections/curriculumpage/CoCurricular';

---

<Layout
  title="Co-Curricular Activities | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Explore co-curricular activities at MCS Pathankot. From debates to dramatics, discover opportunities that enrich learning beyond the classroom."
  pubDate={new Date()}
  >
  
  <main>

    <!-- <HeroSection client:load />
    <DanceSection client:load />
    <MusicSection client:load />
    <DramaSection client:load /> -->

    <!-- Hero Section -->
    <CoCurricularsHero client:load />
    
    <!-- Navigation Pills -->
    <!-- <CurriculumNav client:load /> -->
    
    <CoCurricular client:load />

  </main>
  </Layout>
  
  <!-- <script>
    // Smooth scrolling for anchor links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId);
        
        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - 100,
            behavior: 'smooth'
          });
        }
      });
    });
  </script> -->
</body>
</html>
