---
import Layout from '../../layouts/Layout.astro';
import CurriculumNav from '../../components/sections/curriculumpage/CurriculumNav';
import SportsHero from '../../components/sections/curriculumpage/SportsHero';
import Sports from '../../components/sections/curriculumpage/Sports';

---

<Layout
  title="Sports & Athletics | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Sports at MCS Pathankot build discipline, teamwork, and resilience. Explore athletics, games, and training that foster both health and competitive spirit."
  pubDate={new Date()}
  >
  
  <main>

    <SportsHero client:load />
    
    <!-- Navigation Pills -->
    <!-- <CurriculumNav client:load /> -->
    
    <Sports client:load />

  </main>
  </Layout>
  
  <!-- <script>
    // Smooth scrolling for anchor links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId);
        
        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - 100,
            behavior: 'smooth'
          });
        }
      });
    });
  </script> -->
</body>
</html>
