---
import Layout from '../../layouts/Layout.astro';
import CurriculumNav from '../../components/sections/curriculumpage/CurriculumNav';
import UniformsHero from '../../components/sections/curriculumpage/UniformsHero';
import Uniforms from '../../components/sections/curriculumpage/Uniforms';

// import HeroSection from '../../sections/CurriculumPage/HeroSection';
// import DanceSection from '../../sections/CurriculumPage/DanceSection';
// import MusicSection from '../../sections/CurriculumPage/MusicSection';
// import DramaSection from '../../sections/CurriculumPage/DramaSection';

---

<Layout
  title="School Uniform | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="The MCS Pathankot uniform represents discipline, unity, and pride. Find guidelines and details about school attire here."
  pubDate={new Date()}
  >
  
  <main>

    <!-- <HeroSection client:load />
    <DanceSection client:load />
    <MusicSection client:load />
    <DramaSection client:load /> -->

    <!-- Hero Section -->
    <UniformsHero client:load />
    
    <!-- Navigation Pills -->
    <!-- <CurriculumNav client:load /> -->

    <Uniforms client:load />

  </main>
  </Layout>
  
  <!-- <script>
    // Smooth scrolling for anchor links
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        
        const targetId = this.getAttribute('href');
        const targetElement = document.querySelector(targetId);
        
        if (targetElement) {
          window.scrollTo({
            top: targetElement.offsetTop - 100,
            behavior: 'smooth'
          });
        }
      });
    });
  </script> -->
</body>
</html>
