---
import Layout from "../../layouts/Layout.astro";
import ImportantDocuments from "../../components/sections/announcementpage/DocumentLinks";
import AnnouncementHero from "../../components/sections/announcementpage/SwimmingHero";
import { BookOpen, FileBadge, ShieldCheck, Scale } from "lucide-react";

const documents = [
    {
		title: "Day 1 Final Results",

		description: "Official Day 1 results of the CBSE NORTH ZONE-II Swimming Championship under 11,14,17,19 (Girls), including event-wise rankings, timings, medal winners, and final standings.",

		file: "/Documents/DAY1_RESULTS.pdf",

		icon: FileBadge,
	},
	{
		title: "Invitation Letter & Details",

		description: "Official invitation for schools participating in the CBSE NORTH ZONE-II Swimming Championship under 11,14,17,19 (Girls) and important instructions for all the teams/schools participating in the tournament.",

		file: "/Documents/INVITATION-LETTER-SWIMMING.pdf",

		icon: FileBadge,
	},
	{
		title: "Swimming Events List",

		description: "Complete list of all swimming events, age categories and race schedule details for teams competing in the CBSE NORTH ZONE-II Swimming Championship under 11,14,17,19 (Girls).",

		file: "/Documents/SWIMMING-EVENT-LIST.pdf",

		icon: FileBadge,
	},

	// {
	// 	title: "Event Instructions",

	// 	description: "Important instructions regarding registration process for all the teams/schools participating in the tournament.",

	// 	file: "/Documents/Instructions.docx",

	// 	icon: BookOpen,
	// },

	// {
	// 	title: "Event Rules",

	// 	description: "Detailed rules, tournament regulations, discipline guidelines & important policies for all participants.",

	// 	file: "/Documents/Rules.docx",

	// 	icon: Scale,
	// },
	// {
	// 	title: "Confirmation Slip",

	// 	description: "Official confirmation slip for confirming participation in the CBSE Basketball Cluster XVIII Championship.",

	// 	file: "/Documents/Confirmation-Slip.docx",

	// 	icon: ShieldCheck,
	// },
];
---

<Layout
	title="MCS Pathankot Announcements & Highlights | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab and North India region."
	description="Never miss an important update from MCS regarding events, admissions, academics, and campus activities."
	pubDate={new Date()}
>
	<main class="w-full">
		<AnnouncementHero/>
		<ImportantDocuments
			title="CBSE NORTH ZONE-II Swimming Championship under 11,14,17,19 (Girls) – Final Results (Day 1)"
			subtitle="We are pleased to announce the Day 1 Final Results of the CBSE NORTH ZONE-II Swimming Championship under 11,14,17,19 (Girls). The results include the official standings and performances across all events conducted on Day 1 of the championship."
			content="Participating schools, coaches, students, and parents are requested to refer to the official results document for detailed event-wise rankings and timings:"
			documents={documents}
		/>
	</main>
</Layout>
