---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/sections/homepage/Hero";
import News from "../components/sections/homepage/News";
import InstaReels from "../components/sections/homepage/InstaReels";
import AwardsCard from "../components/sections/homepage/Awards";
import McsLife from "../components/sections/homepage/McsLife";
import EduLevels from "../components/sections/homepage/EduLevels";
import Admission from "../components/sections/homepage/Admission";
import FutureTrends from "../components/sections/homepage/FutureTrends";
import Partnerships from "../components/sections/homepage/Partnerships";
import Achievements from "../components/sections/homepage/Achievements";
import Alumni from "../components/sections/homepage/Alumni";

import { sanity } from "../lib/sanity";
import { urlFor } from "../lib/sanityImage";

const achievements = await sanity.fetch(`
  *[_type == "achievement"] | order(date desc){
    _id,
    title,
    image,
    category,
    personType
  }
`);

---

<Layout
	title="MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
	description="Montessori Cambridge School is a top boarding school delivering quality education, modern hostels, sports excellence, and all-round student development."
	pubDate={new Date()}
>
	<main class="w-full">
		<Hero client:load />
		<News client:load />
		<InstaReels client:load />
		<Achievements client:only />
		<AwardsCard client:load />
		<McsLife client:load />
		<EduLevels client:only />
		<Admission client:load />
		<FutureTrends client:load />
		<Partnerships client:load />
		<Alumni client:only />
	</main>
</Layout>
