---
import Layout from "../../layouts/Layout.astro";
import PressReleaseHero from "../../components/sections/bulletinpage/PressReleaseHero";
import PressReleaseSection from "../../components/sections/bulletinpage/PressRelease";

import { client } from "../../lib/sanity";

const pressReleases = await client.fetch(`
  *[_type == "pressRelease"] | order(date desc) {
    _id,
    title,
    description,
    date,
    source,
    link,
    thumbnail
  }
`);

const printMedia = await client.fetch(`
  *[_type == "printMedia"] | order(_createdAt desc) {
    _id,
    title,
    description,
    image
  }
`);
---

<Layout
  title="Official Press Releases | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Read the latest press releases and media updates about MCS Pathankot. Discover school achievements, initiatives, and stories covered in the press."
  pubDate={new Date()}
>
  <main>
    <PressReleaseHero />
    <PressReleaseSection
      pressReleases={pressReleases}
      printMedia={printMedia}
      client:load
    />
  </main>
</Layout>
