---
import Layout from '../../layouts/Layout.astro';
import EventsHero from '../../components/sections/bulletinpage/UpcomingEventsHero';
import Events from '../../components/sections/bulletinpage/UpcomingEvents';

import { client } from "../../lib/sanity";
import { newsListingQuery } from "../../lib/queries/news";

const news = await client.fetch(newsListingQuery);
---

<Layout
  title="MCS News & Events | MCS Pathankot | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab, North India"
  description="Stay updated with upcoming events, celebrations, competitions, and important activities at MCS Pathankot. Explore our calendar of cultural, academic, and sports events."
  pubDate={new Date()}
  >
  <main>
    <EventsHero />
    <Events news={news} client:load/>
  </main>
</Layout>