---
import Layout from "../../layouts/Layout.astro";
---

<Layout
	title="Credits & Attributions | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab and North India region."
	description="Credits and attributions for third-party graphical assets used on the Montessori Cambridge School website."
	pubDate={new Date()}
>
  <main class="container py-4 sm:py-10 my-10 mx-auto max-w-7xl px-5 min-[540px]:px-12 sm:px-16 xl:px-0 font-inter">
    <h1 class="text-2xl md:text-3xl lg:text-4xl font-semibold mb-6">Credits & Attributions</h1>
    <p class="mb-8 sm:mb-12 text-gray-600">
      Montessori Cambridge School acknowledges and appreciates the creative resources that support the visual presentation of this website especially on Theme Pages. Some images, illustrations, icons, and graphical elements used on this website
      are sourced from third-party platforms and are used in accordance
      with their respective licenses.
    </p>

    <h1 class="text-2xl font-semibold mt-8 mb-3">Creative Resources Acknowledgement</h1>

    <ul class="list-disc pl-6 space-y-2">
      <li>
        Images, Graphics and illustrations designed by
        <a
          href="https://www.freepik.com"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
        >
          Freepik
        </a>
      </li>
      <li>
        Icons and icon sets provided by
        <a
          href="https://www.flaticon.com"
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
        >
          Flaticon
        </a>
      </li>
    </ul>

    <p class="mt-6">
      These resources have been used to enhance clarity, accessibility, and visual engagement while maintaining a professional and student-friendly presentation.
    </p>

    <p class="text-primarydark mt-2">
      All copyrights and intellectual property rights belong to their
      respective original creators.
    </p>

     <h1 class="text-2xl font-semibold mt-8 mb-3">Copyright & Usage Notice</h1>
     <p class="mt-6">
      All third-party creative assets are used in compliance with applicable licenses and attribution requirements.
All original content, text, branding elements, and custom designs remain the property of Montessori Cambridge School.
    </p>
    <p class="mt-6">
      If you are a rights holder and believe any content has been incorrectly credited or used, please contact the school administration for prompt resolution. For questions regarding content usage or acknowledgements, please reach out through the official Contact page of the website.
    </p>
  </main>
</Layout>
