---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Terms and Conditions | Montessori Cambridge School | Top Boarding School in Pathankot, Punjab and North India region."
  description="Read the terms and conditions governing the use of the Montessori Cambridge School, Pathankot website."
  pubDate={new Date()}
>
  <main
    class="container py-4 sm:py-10 my-10 mx-auto max-w-7xl px-5 min-[540px]:px-12 sm:px-16 xl:px-0 font-inter"
  >
    <h1 class="text-2xl md:text-3xl lg:text-4xl font-semibold mb-6">
      Terms and Conditions
    </h1>
    <p class="mb-8 sm:mb-12 text-sm text-gray-600">
      Last Updated: <strong>1 January 2026</strong>
    </p>

    <p class="mb-4">
      By accessing and using the Montessori Cambridge School, Pathankot website
      (“the Website”), You agree to comply with and be bound by the following
      Terms and Conditions. Please read these Terms and Conditions carefully
      before using our website.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">1. Acknowledgment</h2>
    <p class="mb-4">
      These are the Terms and Conditions governing the use of this website and
      the agreement that operates between You\ and the School. These Terms and
      Conditions set out the rights and obligations of all users regarding the
      use of the website.
    </p>
    <p class="mb-4">
      Your access to and use of the website is conditioned on Your acceptance of
      and compliance with these Terms and Conditions. These Terms and Conditions
      apply to all visitors, users and others who access or use the website or
      its services.
    </p>
    <p class="mb-4">
      By accessing or using the website You agree to be bound by these Terms and
      Conditions. If You disagree with any part of these Terms and Conditions
      then You may not access the website.
    </p>
    <p class="mb-4">
      Your access to and use of the website is also conditioned on Your
      acceptance of and compliance with the Privacy Policy of the School. Our
      Privacy Policy describes Our policies and procedures on the collection,
      use and disclosure of Your personal information when You use the
      Application or the Website and tells You about Your privacy rights and how
      the law protects You. Please read Our Privacy Policy carefully before
      using Our Service.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">2. Accuracy of Information</h2>
    <p class="mb-4">
      While we strive to keep the information on this website accurate and up to
      date, the School makes no warranties or representations regarding the
      completeness, accuracy, or reliability of the content.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">3. Intellectual Property</h2>
    <p class="mb-4">
      All original content on this website, including text, layout, and
      school-owned media, is the property of Montessori Cambridge School unless
      otherwise stated and is protected by applicable copyright laws.
    </p>
    <p class="mb-4">
      Certain images, illustrations, icons, or graphical elements used on this
      website may be sourced from third-party platforms and are used in
      accordance with their respective licenses. Proper attributions for such
      content are provided on the Attributions Page.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">4. Links to Other Websites</h2>
    <p class="mb-4">
      This website may include links to external websites or services for
      convenience. The School has no control over, and assumes no responsibility
      for, the content, privacy policies, or practices of any third party
      websites or services. You further acknowledge and agree that the School
      shall not be responsible or liable, directly or indirectly, for any damage
      or loss caused or alleged to be caused by or in connection with the use of
      or reliance on any such content, goods or services available on or through
      any such websites or services. We strongly advise You to read the terms
      and conditions and privacy policies of any third-party websites or
      services that You visit.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">5. Termination</h2>
    <p class="mb-4">
      We may terminate or suspend Your access immediately, without prior notice
      or liability, for any reason whatsoever, including without limitation if
      You breach these Terms and Conditions. Upon termination, Your right to use
      the website or related services will cease immediately.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">6. Limitation of Liability</h2>
    <p class="mb-4">
      The School shall not be liable for any loss or damage arising from the use
      of this website whatsoever (including, but not limited to, damages for
      loss of profits, loss of data or other information, for business
      interruption, for personal injury, loss of privacy arising out of or in
      any way related to the use of or inability to use the website, third-party
      software and/or third-party hardware used with the website or related
      services, or otherwise in connection with any provision of this Terms),
      even if the Company or any supplier has been advised of the possibility of
      such damages and even if the remedy fails of its essential purpose.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">
      7. “AS IS” and “AS AVAILABLE” Disclaimer
    </h2>
    <p>
      The website and its content are provided to You “AS IS” and “AS AVAILABLE”
      and with all faults and defects without warranty of any kind. While we
      strive to ensure accuracy and uninterrupted access, the School does not
      guarantee that the website will always be error-free, up to date, or
      continuously available.
    </p>
    <p>
      The School shall not be held responsible for temporary unavailability,
      technical issues, inaccuracies, or reliance placed on information
      published on the website.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">8. Governing Law</h2>
    <p>
      These Terms and Conditions shall be governed by and construed in
      accordance with the laws of India, excluding its conflicts of law rules.
      Any disputes shall be subject to the jurisdiction of courts in Punjab,
      India. Your use of the Application may also be subject to other local,
      state, or national laws.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">9. Disputes Resolution</h2>
    <p>
      If You have any concern or dispute about the website, You agree to first
      try to resolve the dispute informally by contacting the School.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">
      10. Severability and Waiver
    </h2>
    <p>
      If any provision of these Terms & Conditions is found to be invalid or
      unenforceable under applicable law, such provision shall be deemed
      severed, and the remaining provisions shall continue in full force and
      effect.
    </p>
    <p>
      Failure by the School to enforce any right or provision of these Terms
      shall not constitute a waiver of such right or provision.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">
      11. Translation Interpretation
    </h2>
    <p>
      These Terms and Conditions may have been translated if We have made them
      available to You on our website. You agree that the original English text
      shall prevail in the case of a dispute.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">12. Changes to Terms</h2>
    <p class="mb-4">
      The School reserves the right to revise these Terms and Conditions at any
      time without prior notice. If a revision is significant, We will make
      reasonable efforts to provide at least 30 days’ notice prior to any new
      terms taking effect. What constitutes a significant change will be
      determined at our sole discretion. Continued use of the website implies
      acceptance of the updated terms. If You do not agree to the new terms, in
      whole or in part, please stop using the website and its services.
    </p>

    <h2 class="text-2xl font-semibold mt-8 mb-3">13. Contact Us</h2>
    <p>
      If You have any questions regarding these Terms and Conditions, You can
      contact us through the official contact details provided on this website.
    </p>
  </main>
</Layout>
